body {
  color: rgb(255, 255, 255);
  font-family: "Inter";
}


img {
  display: block;
}

#git_logo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 5px;
}

#git_logo:hover {
	background-color: #000000;
}

#back {
  width: 90%;
  height: 90vh;
  margin: 2.5% auto;
  background-color: #000000;
  border-radius: 8px;
  box-shadow: 0 0 20px #000;
  border: 1px solid #000000;
  overflow: hidden;
  border: 0;
}

#bar {
  height: 40px;
  background-color: #333333;
  border-radius: 8px 8px 0 0;
  border: 0px solid #333333;
  display: flex;
  justify-content: start;
  align-items: end;
  padding-left: 10px;
}

.tab {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: 210px;
	height: 27px;
	background-color: gray;
	border-radius: 8px 8px 0 0;
	padding: 3px 15px;
	margin-right: 5px;
	text-decoration: none;
	font-size: 14px;
}
.tab.selected {
	background-color: black;
}
.tab::after {
	display : block;
	content: "x";
}

a {
  color: white;
  font-weight: bold;
}
.os {
	flex-grow: 5;
	display: flex;
	justify-content: end;
	align-items: center;
	padding-bottom: 5px;
	padding-right: 5px;
}
.end {
	display: flex;
	text-decoration: none;
	padding: 10px 10px;
	text-align: right;
	border-radius: 5px;
	height: 10px;
	min-width: 24px;
	justify-content: center;
	align-items: center;
	font-size: 20px;
}
	
#else:hover{
	background-color: gray;
}

#croix:hover {
	background-color: red;
}

#plus {
	justify-content: start;
}