body {
  background-color: #0c0c0c;
}

body {
  color: white;
  font-family: "Inter";
}

img {
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}
